* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

:root {
    --color-backgroud: #030207;
    --color-white: #fff;
    --color-blue: #1474B4;
}

body {
    background-color: var(--color-backgroud);
    color: var(--color-white);
}

a {
    color: var(--color-blue);
}

.hero {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1)), var(--color-backgroud);
}

.hero__background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -10;
    top: 0;
}

.hero__foreground {
    color: var(--color-white);
    text-align: center;
    padding-top: 40vh;
}

.hero__title {
    font-size: 5rem;
    font-weight: 300;
}

.hero__text {
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.section {
    text-align: center;
    padding: 0 8rem;
    overflow: hidden; /* para não transbordar e esconder a barra de rolagem */
}

.section__title {
    font-size: 3rem;
    font-weight: 300;
    margin: 4rem auto;
}

.section__img, .section__img-inline {
    width: 100%;
    border-radius: .75rem;
    /* eixo x, eixo y, blur, expansão/recuo, cor */
    box-shadow: 0 1rem 2rem -0.5rem rgba(20, 116, 180, 0.25);
    object-fit: cover; /* aplica-se no elemento */
    object-position: top; /* é a posição de referência, começa pelo topo da imagem */
    position: relative;
    max-height: 30rem; /* para não crescer demais */
}

.section__text, .section__text-inline {
    font-size: 1.25rem;
    line-height: 1.75;
    margin: 4rem auto; /* espaçamento entre texto e imagem */
}

.section__img-inline {
    float: left;
    height: 25rem;
    width: 20rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.section__text-inline {
    text-align: left;
    margin-top: 6rem;
}

.section__text-inline > p {
    margin-top: 1.5rem;
}

#hangouts img{
    object-position: center;
}

.gallery__img {
    border-radius: .75rem;
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    transform: rotate(-2deg); /* deg = degrees */
}

.gallery__img-wrapper {
    display: inline-block;
    position: relative;
}

.gallery__img-wrapper + .gallery__img-wrapper {
    margin-left: 3rem;
    margin-top: 3rem;
}

.gallery__img-wrapper:nth-child(even) > .gallery__img {
    top: 1rem;
    transform: rotate(2deg);
}

.gallery__img-wrapper::after {
    content: "";
    background-color: rgb(228, 26, 26);
    border-radius: 999px;
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 0.25rem;
    right: 1rem;
}

.gallery__img-wrapper:nth-child(even)::after {
    left: 1rem;
}

footer {
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
}